//forms input product

.inputProduct {
    margin-top: 2rem;

    form {
        background: $white;
        width: 100%;
        border-radius: $card-border-radius;
        padding: $card-padding;


        .itemForm{
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;    
            
            label{
                margin-bottom: 1rem;
            }

            input{
                border: 1px solid $color-light;
                border-radius: $border-radius-1;
                padding: $card-padding;
                &:focus{
                    border: 1px solid $black;
                }
            }
        }

    }

}