aside{
    height: 100vh;

    .logo{
        display: flex;
        gap: 0.8rem;
    }
    .top{

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
        img{
            width: 2rem;
            height: 2rem;
        }
    }
    .close{
        display: none;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        height: 86vh;
        position: relative;
        top: 3rem;
        .message-count{
            background: $danger;
            color: $white;
            padding: 2px 10px;
            font-size: 11px;
            border-radius: $border-radius-1;
        }
    }
    h3{
        font-weight: 500;
    }
    a{
        display: flex;
        color: gray;
        margin-left: 2rem;
        gap: 1rem;
        align-items: center;
        position: relative;
        height: 3.7rem;
        transition: all 0.3s ease;
        span{
            font-size: 1.6rem;
            transition: all 0.3s ease;
        }

        &:hover {
            color: $primary;
        }

        &:hover span{
            margin-left: 1rem;
        }
     
    }
    a:last-child{
        position: absolute;
        bottom: 2rem;
        width: 100%;
    }
    a.active{
        background: $color-light;
        color: $primary;
        margin-left: 0;

        span{
            color: $primary;
            margin-left: calc(1rem - 3px);
        }    

        &::before{
            content: '';
            width: 6px;
            height: 100%;
            background: $primary;
        }
    }

    
}