// google font
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700'); 

// Custom Color
$primary:                   #7380ec;
$danger:                    #ff7782;
$success:                   #00c9a7;
$warning:                   #ffc107;
$black:                     #000   ;
$white:                     #fff   ;
$orange:                    #fa8c16;
$green:                     #52c41a;
$blue:                      #3f87f5; 
$purple:                    #886cff; 
$magenta:                   #eb2f96;
$volcano:                   #fa541c;
$lime:                      #a0d911;
$geekblue:                  #2f54eb;
$cloudblue:                 #02d3ef;
$lightgray:                 #edf2f9;
$deepbule:                  #072349;
$color-light: rgba(65, 68, 94, 0.274);
$background:          #f6f6f9;


$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

$card-padding: 1rem 1.8rem;
$padding-1: 1.2rem;
$box-shadow: 0.2rem 0.3rem  $color-light;


// Font 
// 
// font-weight, font-size

$font-family: 'Poppins', sans-serif;
// $font-family-base: $font-family !default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
