/* ---Header Top--- */
.header{
    width: 100%;
    background-color: #3F87F5;    
    .leftHeader{
        width:15%;
        background-color: #072349;
        .logoImg{
            max-width: 80px;        
        }
    }
    .rightHeader{
        width: 85%;
        background-color: #3F87F5;    
    }
    

}